/*

!.gitignore
!.bashrc
!.vimrc

!houdini20.5/
houdini20.5/*
!houdini20.5/houdini.env
!houdini20.5/scripts/
houdini20.5/scripts/*
!houdini20.5/scripts/123.py

!.nuke
.nuke/*
!.nuke/init.py
!.nuke/menu.py
